<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %}Discografia CRUD{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="topo">
    <h1>🎵 Discografia CRUD</h1>
    <nav>
      <a href="/">Início</a>
      <a href="/albuns/novo">+ Novo Álbum</a>
    </nav>
  </header>
  <main class="container">
    {% block conteudo %}{% endblock %}
  </main>
</body>
</html>